.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
}
.homepage-container {
}
.header-container {
}
.landing-page {
  background-color: #f9fbf8;
}
.landing-page-container {
}
.user-login-signup-container {
  margin: 2em;
  padding: 2em;
}
.ui.placeholder.segment {
  margin: 20em;
  padding: 20em;
}
.user-login-signup-container-background-image {
}
.user-login-container {
  margin: 2em;
  padding: 1em;
}
.ui.stackable.very.relaxed.two.column.grid {
}
.user-signup-container {
  margin: 2em;
}
.middl.ligned.column {
  margin: 2em;
}
.homepage-container {
  background-color: #f9fbf8;
}
.profile-container {
  margin: 2em;
  padding: 2em;
  float: right;
}
.profile-description {
  margin: 2em;
  padding: 2em;
  height: 400px;
  width: 400px;
}
.bags-container {
  margin: 2em;
  padding: 2em;
  max-width: 350px;
}
.bag-container {
  margin: 2em;
  padding: 2em;
  max-width: 350px;
}
.ui.card {
  margin: 2em;
  padding: 2em;
  max-width: 350px;
}
.post-package-container {
  margin: 2em;
  padding: 2em;
  max-width: 350px;
}
.your-packages-and-postfrom-container {
  margin: 2em;
  padding: 2em;
  /* max-width: 350px; */
}
.activity-card-container {
  margin: 2em;
  padding: 2em;
  max-width: 250px;
}
.search-box {
  margin: 2em;
  padding: 2em;
}
